@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white text-dark;
        font-family: 'Space Grotesk', sans-serif;
    }
}

@layer components {
    .btn-primary {
        @apply bg-dark text-white px-8 py-4 rounded-xl font-medium hover:bg-dark/90 transition-all;
    }

    .btn-secondary {
        @apply bg-primary text-dark px-8 py-4 rounded-xl font-medium hover:bg-primary/90 transition-all;
    }

    .section-heading {
        @apply bg-primary text-dark px-2 py-1 rounded-md inline-block font-medium text-sm md:text-base;
    }
}